:root {
  --brand-color-primary: crimson;
  --brand-color-secondary: #290300;
  --brand-color-third: #de0d64;
  --font-family-primary: "Playfair Display", serif;
}

body .container {
  display: block;
  text-align: center;
  margin: 80px auto;
  max-width: 700px;
  font-family: var(--font-family-primary);
  color: var(--brand-color-primary);
}

header {
  margin-bottom: 30px;
}

form {
  display: flex;
}

.searchBox {
  width: 80%;
  padding: 14px 25px;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid rgb(113, 111, 111);
}

.submit-btn {
  margin-left: 12px;
  padding: 14px 30px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background-color: var(--brand-color-primary);
  color: white;
  box-shadow: 7px 5px 15px rgba(194, 65, 65, 0.3);
}

.submit-btn:hover {
  background-color: #de0d64;
  border: 1 solid white;
  box-shadow: 7px 5px 15px rgba(194, 65, 134, 0.3);
}

.example {
  display: flex;
  color: black;
  opacity: 0.6;
  font-size: 12px;
}

#search-city-info {
  box-sizing: content-box;
  text-align: left;
  border-left: 5px solid crimson;
  overflow: scroll;
  color: #de0d64;
}

#search-city-info h2 {
  color: var(--brand-color-third);
}

.list-items li {
  font-size: 22px;
  list-style: none;
  display: block;
  color: var(--brand-color-third);
}

li p {
  font-size: 18px;
  color: var(--brand-color-main);
}

footer {
  font-size: 15px;
}
